.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.filters {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-left: 10%;
}

.input-search-filter {
    padding: 10px 20px;
    border: none;
    outline: 2px solid #2e2e2e;
    background-color: transparent;
    border-radius: 25px;
    color: #2e2e2e;
    transition: background-color 0.3s, color 0.3s;
}

.select-role {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    outline: 2px solid #2e2e2e;
    background-color: transparent;
    border-radius: 25px;
    color: #2e2e2e;
    transition: background-color 0.3s, color 0.3s;
}

.input-search-filter:hover,
.select-role:hover {
    box-shadow: 0 0 0 4px #12b76a;
    outline: 2px solid #12b76a86;
}

.input-search-filter:focus,
.input-search-filter:active {
    box-shadow: 0 0 0 4px #12b76a;
    outline: 2px solid #12b76a86;
}

.select-role {
    margin-left: 10px;
    padding: 10px 20px;
    border: none;
    outline: 2px solid #2e2e2e;
    background-color: transparent;
    border-radius: 25px;
    color: #2e2e2e;
    transition: background-color 0.3s, color 0.3s;
}
  
.page-item {
    margin: 0 5px;
}
  
.page-link {
    padding: 10px 20px;
    border: 2px solid #2e2e2e86;
    border-radius: 25px;
    color: #2e2e2e86;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
  
.page-link:hover {
    border: 2px solid #2e2e2e;
    color: #2e2e2e;
}
  
.active .page-link {
    background-color: #0f9b5a;
    border-color: #0f9b5a;
    color: white;
}
  
.page-item .page-link[aria-disabled='true'] {
    color: #949494;
    border-color: #ddd;
    cursor: not-allowed;
    background-color: #e4e4e4;
}

@media screen and (max-width: 768px) {
    .page-link {
        padding: 5px 10px;
        font-size: 13px;
    }

    .page-item .page-link[aria-disabled='true'] {
        font-size: 13px;
    }
}
  
/* Table styles */
.table-wrapper {
    position: relative;
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
    margin: 5px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
}

.table-wrapper::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

table {
    width: 100%; /* Ensure the table takes the full width of the wrapper */
    border-collapse: collapse;
    border-radius: 10px;
    background-color: #fff;
    overflow-x: auto; /* Ensure horizontal scrolling */
}

table th, table td {
    padding: 10px;
    border: none;
    text-align: center;
    font-size: 15px;
    white-space: nowrap; /* Prevent text from wrapping */
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    table th:nth-child(1), table td:nth-child(1) {
        background-color: #f2f2f2;
    }

    table th:nth-child(2) {
        position: sticky;
        left: 0;
        background-color: #f2f2f2;
        z-index: 1;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    table td:nth-child(2) {
        position: sticky;
        left: 0;
        background-color: #f2f2f2;
        z-index: 1;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    }

    table th:nth-child(2), table td:nth-child(2) {
        left: -2px; /* Adjust this value according to the width of your first column */
    }
}


